.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    background:#ddd;
    padding: 30px;
    margin: 50px auto;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  